<!-- Services Section -->
    <section id="groups">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Friends of Eastville Park</h2>
                    <h3 class="section-subheading text-muted">Meet other park users on facebook</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.facebook.com/fromefairies/" target="_blank">Join us!</a></h4>
                </div>
                <div class="col-md-8">
                    <h4 class="service-heading">Welcome</h4>
                    <p class="text-muted">Eastville park has a large, active friends group. We meet quarterly to discuss matters  involving the park and regularly have active discussions on our facebook group. We welcome new members</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Frome Fairies</h2>
                    <h3 class="section-subheading text-muted">Meet other park users on facebook</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://www.facebook.com/fromefairies/" target="_blank">Join us!</a></h4>
                    <img src="/img/fairies.jpg" width="200" />
                </div>
                <div class="col-md-8">
                    <h4 class="service-heading">Welcome</h4>
                    <p class="text-muted">Frome Fairies is a loosely knit group of local volunteers who have a passion for dressing up in various  rubber outfits on a Sunday, dropping down into the sometimes murky waters of the River Frome as it winds  it’s way through Eastville Park.
We gather together with one common purpose; to pick, lift or haul out any river litter we can find.</p>
                    <p class="text-justify">Ranging from cotton buds to football studs, discarded bras to old jam jars,
a  fisherman’s  float  and an old fur coat, dog’s lost balls or locks from doors.
Not to mention a motorbike, which was probably dumped in the middle of the night
Or the hundreds of tyres that find their way to the bottom of the river where they like to stay.
And the things we most don’t like to find? are the broken bottles of the boozy kind
Along with plastics of all shapes and sizes, there are road signs come  all the way from Devizes.
So the purpose of telling you all this stuff is to try to encourage you to join with us
to help our river be a haven of life for  the fish and the otters and the birds in flight.
For the tiny creatures that we never see as we walk along the path with our family.
And for us, for the future and the folks to come as we try to put right the damage we’ve done.</p>
                    <p class="text-justify">If you’d like to be part of the Frome Fairies and support our work, please visit our Facebook page where you’ll find regular updates of our activities and ways to get involved.
Whatever  your  age, physical ability or colour of your socks, there’s a Frome Fairy inside you waiting to leap out!
                        There are often opportunities (river level allowing) for little ones to help too!</p>
                    <p class="text-justify">WATCH THIS SPACE FOR NEWS OF A FANTASTIC EVENT FOR LITTLE-AND BIG CHILDREN WHICH WILL BE HAPPENING HERE IN EASTVILLE PARK SUMMER 2018 . 
                        THE FROME FAIRY ART AND FANTASY TRAIL.</p>
                </div>
            </div>
        </div>
    </section>







