<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Location</h2>
                <h3 class="section-subheading text-muted">How to get to the park</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
              <h4>By Foot / Bicycle</h4>
              <p>Instructions on how to get to the park by food/bicycle</p>
            </div>
            <div class="col-lg-4">
              <h4>By Public Transport</h4>
              <p>Instructions on how to get to the park by public transport</p>

            </div>
            <div class="col-lg-4">
              <h4>By Car</h4>
              <p>Instructions on how to get to the park by car</p>

            </div>
        </div>
    </div>
</section>
